// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

// Typography

@font-family-primary: 'Conv_ProximaNova-Reg', Helvetica, Arial, sans-serif;
@font-family-light: 'Conv_ProximaNova-Light', Helvetica, Arial, sans-serif;
@font-family-Sbold: 'Conv_ProximaNova-Sbold', Helvetica, Arial, sans-serif;

// Palettes
@light-blue:          #01b0e7;
@navbar-link-color:   #556579;



// Paths

@imagePath:          ~"../images";
@fontsPath:          ~"../fonts";


@import "modules/base.less";
@import "modules/typography.less";
@import "modules/buttons.less";
@import "modules/skin.less";
@import "modules/formatted.less";
@import "modules/navbar.less";
@import "modules/section.less";
@import "modules/carousel.less";