// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

// Typography

@font-family-primary: 'Conv_ProximaNova-Reg', Helvetica, Arial, sans-serif;
@font-family-light: 'Conv_ProximaNova-Light', Helvetica, Arial, sans-serif;
@font-family-Sbold: 'Conv_ProximaNova-Sbold', Helvetica, Arial, sans-serif;

// Palettes
@red:                 #ef4949;
@light-blue:          #01b0e7;
@navbar-link-color:   #556579;



// Paths

@imagePath:          ~"../images";
@fontsPath:          ~"../fonts";


@import "modules/base.less";
@import "modules/typography.less";
@import "modules/buttons.less";
@import "modules/icons.less";
@import "modules/skin.less";
@import "modules/formatted.less";
@import "modules/list.less";
@import "modules/navbar.less";
@import "modules/titles.less";
@import "modules/section.less";
@import "modules/carousel.less";
@import "modules/search.less";
@import "modules/block.less";
@import "modules/footer.less";
@import "modules/modal.less";
@import "modules/page.less";
@import "modules/layouts.less";
@import "modules/story.less";
@import "modules/widget.less";
@import "modules/js-gallery.less";





.media-spread {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
}


.media-heading {
	margin-bottom: 5px;
	font-size: 24px;
	color: #222e3c;
}

.media-meta {
	display: block;
	margin-bottom: 20px;
}


.media-object {
	margin-right: 15px;
}

