/* =============================================================================
   Formatted
   ========================================================================== */

.formatted {
	p {
		margin-bottom: 20px;
		color: #556579;
	}
}

.formatted-sm {
	h1 {
		margin-bottom: 10px;
		font-size: 18px;
		font-family: @font-family-Sbold;
		text-transform: uppercase;
	}

	p {
		font-size: 13px;
		font-family: @font-family-light;
	}
}

.formatted-sm-2nd {
	h1 {
		margin-bottom: 18px;
		font-size: 20px;
	}
}

.formatted-lg {
	p {
		margin-bottom: 25px;
		font-size: 18px;
		font-family: @font-family-light;
		line-height: 1.8;
	}
}
