// this file is compile with compass.

@import "compass/utilities/sprites";

[class^="icon-"],
[class*="icon-"] {
    display: inline-block;
}

/* =============================================================================
   Positions
   ========================================================================== */

$icon-layout:horizontal;
@import "icon/*.png";
@include all-icon-sprites;
$icon: sprite-map("icon/*.png", $spacing: 10px);

/* =============================================================================
   Dimensions
   ========================================================================== */

.icon-search {
  @include sprite-dimensions($icon, search);
}

.icon-up {
  @include sprite-dimensions($icon, up);
}

.icon-down {
  @include sprite-dimensions($icon, down);
}

.icon-residential {
  @include sprite-dimensions($icon, residential);
}

.icon-trade {
  @include sprite-dimensions($icon, trade);
}

.icon-commercial {
  @include sprite-dimensions($icon, commercial);
}

.icon-left {
  @include sprite-dimensions($icon, left);
}

.icon-right {
  @include sprite-dimensions($icon, right);
}

.icon-phone {
  @include sprite-dimensions($icon, phone);
}

.icon-chevron-left {
  @include sprite-dimensions($icon, chevron-left);
}

.icon-check {
  @include sprite-dimensions($icon, check);
}

.icon-dollar {
  @include sprite-dimensions($icon, dollar);
}

.icon-information {
  @include sprite-dimensions($icon, information);
}

.icon-installation {
  @include sprite-dimensions($icon, installation);
}